<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SRLManagementEntities" connectionString="metadata=res://*/Entity.SRLUser.csdl|res://*/Entity.SRLUser.ssdl|res://*/Entity.SRLUser.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=137.117.239.95;initial catalog=SRLManagement;user id=developer;password=Europool2018!;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BACKUP_SRL_20180613Entities" connectionString="metadata=res://*/Entity.SRL.csdl|res://*/Entity.SRL.ssdl|res://*/Entity.SRL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=137.117.239.95;initial catalog=BACKUP_SRL_20180613;persist security info=True;user id=developer;password=Europool2018!;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BACKUP_SRL_20180613Entities1" connectionString="metadata=res://*/Entity.SRL.csdl|res://*/Entity.SRL.ssdl|res://*/Entity.SRL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=137.117.239.95;initial catalog=BACKUP_SRL_20180613;persist security info=True;user id=developer;password=Europool2018!;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Azure Active Directory configuration-->
    <add key="ida:Tenant" value="9517e066-751a-4e54-b87c-d482c10c8b07" />
    <add key="ida:Audience" value="https://epswebportal.onmicrosoft.com/EuroPool.SRLportal.Server.Dev" />
    <add key="ida:ClientID" value="970d3d00-cf50-45c5-829f-3074d2eec601" />
    <add key="ida:AADInstance" value="https://login.microftonline.com/{0}" />
    <add key="ida:GraphResourceId" value="https://graph.microsoft.com" />
    <add key="ida:GraphUserUrl" value="https://graph.microsoft.com/v1.0/me/" />
    <add key="ida:CORSOrigin" value="http://localhost:9005" />

    <!--Azure B2C configuration-->
    <add key="b2c:Tenant" value="ravensdev.onmicrosoft.com" />
    <add key="b2c:ClientId" value="f840e303-5f95-4d8f-aac0-08d9ec6bd47e" />
    <add key="b2c:ClientSecret" value="rAdvp++J0+6er4bKXYL2F0TNMiOEvpP2RmypyDeCeH8=" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>